body {
    background-image: url('/static/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}

.background {
    width: 75%;
    font-family: Calibri sans-serif;
    font-size: 16px;
    font-weight: bolder;
    margin: auto;
}


nav {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: #0B9AB6;
    border-radius: 2px 2px 0 0;
}

a {
    color: #034362;
    text-decoration: none;
}

.clickable-link {
    text-decoration: underline;
}

nav a.active {
    color: #fdf7fa;
}

.frame {
    padding: 40px;
    background-color: #f7f9fa;
    border-radius: 0 0 2px 2px;
    color: #2d2a2a;
}

h1 {
    text-align: center;
    color: #034362;
}

.container {
    display: grid;
    grid-template-columns: 250px auto;
    grid-column-gap: 40px;
    padding: 10px;
}

.graph-frame {
    text-align: center;
    border-radius: 6px;
    background-color: white;
}

.graph {
    max-width: 600px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.one-graph {
    text-align: center;
}

.wide_graph {
    max-width: 900px;
    text-align: left;
    height: auto;
    margin: 0 auto;
}

.button-container {
    display: flex;
    gap: 5px;
}

button {
    color: white;
    background-color: #034362;
    font-size: 13px;
    width: 70px;
    height: 25px;
    border-radius: 3px;
    border-color: #034362;
    cursor: pointer;
}

button[name="edit"] {
    background-color: #0B9AB6;
    border-color: #0B9AB6;
}

.back {
    background-color: #034362;
    color: white;
    padding: 7px 30px;
    border-radius: 3px;
    font-size: 17px;
    font-weight: lighter;
}

select {
    width: 270px;
    height: 25px;
}

textarea {
    text-align: left;
    white-space: pre-wrap;
}
