{% extends 'base.html' %}
{% block content %}

    <div class="frame">

        <h1>Conclusions</h1>

        {% if conclusions %}
            {% for conclusion in conclusions %}
                <p>{{ conclusion[1] }}</p>
                <form action="/edit/{{ conclusion[0] }}" method="POST">
                    <button type="submit" name="edit">Edit</button>
                </form>
                <br>
                <form action="/delete/{{ conclusion[0] }}" method="POST">
                    <button type="submit" name="delete">Delete</button>
                </form>
                <br>
                <hr>
            {% endfor %}
        {% else %}
            <p>{{ message }}</p>
        {% endif %}

    </div>

{% endblock %}