{% extends 'base.html' %}
{% block content %}

    <div class="frame">

        <h1>Conclusions</h1>
        <p>25% of customers remain in contract for less than 9 months -> take a closer look at the first months.</p>
        <p>Mean of monthly charges is lower than median -> compare customer profiles of groups with low and high monthly
           fees.</p>
        <p>The longer the contract has lasted, the fewer contract terminations there are - > compare the profiles of
           customers with short-term and long-term contracts.</p>
        <p>Except for a group with a very high monthly fee, there are more contract terminations as the monthly fee
           increases.</p>
        <p>The highest total revenue is brought by customers with higher monthly fees.</p>
        <p>The client groups with the lowest monthly fee are under 65 years of age, without a partner, has
           dependents.</p>
        <p>The client groups that generate the highest total revenue are those over the age of 65, have a partner,
           without dependents</p>
        <p>The contract is terminated more by long-term clients with a partner, clients over 65 years of age with a
           higher average monthly fee. In all sociodemographic groups, the higher average total revenue is bought by
           customers who have terminated the contract.</p>
        <p>Customers with a higher monthly fee have phone, fiber optic and TV service.</p>
        <p>Customers with higher total revenue who have not terminated the contract have phone service, fiber optic
           or dsl and tv service.</p>
        <p>In the group of customers with high total revenue who have not terminated the contract, there are also those
           who do not have a phone or TV service.</p>
        <p>The customers with the highest total revenue are under 65 who has all three services.</p>
        <br>
        <h1>Next steps for analysis</h1>
        <p>Profiles and services of customers who terminate service within 9 months.</p>
        <p>Profiles of customers low and high monthly fees.</p>
        <p>The profitability or non profitability of customers over 65 years of age.</p>
        <p>Analyse the relevance of tv service.
        <p>
    </div>

{% endblock %}