{% extends 'base.html' %}
{% block content %}

    <div class="frame">
        <a href="/models" class="back">Back</a>

        <h1>Tenure Model Summary</h1>
        {% include 'tenure_model_summary.html' %}
        <br>
        <br>

        {% include 'conclusions_form.html' %}
        <br>
        <br>
        <hr>
        <br>

        <h1>Monthly Charges Model Summary</h1>
        {% include 'monthly_charges_model_summary.html' %}
        <br>
        <br>

        {% include 'conclusions_form.html' %}
        <br>
        <br>
        <hr>
        <br>

        <h1>Total Charges Model Summary</h1>
        {% include 'total_charges_model_summary.html' %}

        {% include 'conclusions_form.html' %}
        <br>
        <br>
        <hr>
        <br>

        <h1>Total Charges Model Summary V2</h1>
        {% include 'total_charges_model_summary_v2.html' %}

        {% include 'conclusions_form.html' %}
        <br>
        <br>
        <hr>
        <br>

        <h1>Total Charges Model Summary V3</h1>
        {% include 'total_charges_model_summary_v3.html' %}

        {% include 'conclusions_form.html' %}
        <br>
        <br>
        <hr>
        <br>

    </div>

{% endblock %}