{% extends 'base.html' %}
{% block content %}

    <div class="frame">
        <h1>Services</h1>

        <h2>Phone Service</h2>
        <p>Does the customer have phone service</p>

        <div class="container">
            <div>
                {% for key, value in phone_stat.items() %}
                    <p>{{ key }} : {{ value }}</p>
                {% endfor %}
            </div>
            <div class="graph-frame">
                <div>
                    <img src="{{ url_for('static', filename='graphs/phone_service_bar.png') }}"
                         alt="Bar of Phone" class="graph">
                </div>
            </div>

        </div>

        <div>
            <p>Average monthly charges by churn and phone service</p>
            <div class="container">
                <div>
                    {% for key, value in by_phone.items() %}
                        <p>{{ key }} : {{ value }}</p>
                    {% endfor %}
                </div>

                <div class="graph-frame">
                    <div>
                        <img src="{{ url_for('static', filename='graphs/phone_service_heatmap.png') }}"
                             alt="Heatmap of Phone" class="graph">
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div>
            <p>Average total charges by churn and phone service</p>
            <div class="container">
                <div>
                    {% for key, value in by_phone_total.items() %}
                        <p>{{ key }} : {{ value }}</p>
                    {% endfor %}
                </div>

                <div class="graph-frame">
                    <div>
                        <img src="{{ url_for('static', filename='graphs/phone_service_total_heatmap.png') }}"
                             alt="Heatmap of Phone Total" class="graph">
                    </div>
                </div>
            </div>
        </div>
        <br>

        {% include 'conclusions_form.html' %}
        <br>
        <br>

        <h2>Internet Service</h2>
        <p>Does the customer have internet service</p>

        <div class="container">
            <div>
                {% for key, value in internet_stat.items() %}
                    <p>{{ key }} : {{ value }}</p>
                {% endfor %}
            </div>
            <div class="graph-frame">
                <div>
                    <img src="{{ url_for('static', filename='graphs/internet_service_bar.png') }}"
                         alt="Bar of Internet" class="graph">
                </div>
            </div>

        </div>

        <div>
            <p>Average monthly charges by churn and internet service</p>
            <div class="container">
                <div>
                    {% for key, value in by_internet.items() %}
                        <p>{{ key }} : {{ value }}</p>
                    {% endfor %}
                </div>
                <div class="graph-frame">
                    <div>
                        <img src="{{ url_for('static', filename='graphs/internet_service_heatmap.png') }}"
                             alt="Heatmap of Internet" class="graph">
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div>
            <p>Average total charges by churn and internet service</p>
            <div class="container">
                <div>
                    {% for key, value in by_internet_total.items() %}
                        <p>{{ key }} : {{ value }}</p>
                    {% endfor %}
                </div>
                <div class="graph-frame">
                    <div>
                        <img src="{{ url_for('static', filename='graphs/internet_service_total_heatmap.png') }}"
                             alt="Heatmap of Internet" class="graph">
                    </div>
                </div>
            </div>
        </div>
        <br>

        {% include 'conclusions_form.html' %}
        <br>
        <br>

        <h2>Streaming TV Service</h2>
        <p>Does the customer have streaming TV service</p>

        <div class="container">
            <div>
                {% for key, value in streaming_tv_stat.items() %}
                    <p>{{ key }} : {{ value }}</p>
                {% endfor %}
            </div>

            <div class="graph-frame">
                <div>
                    <img src="{{ url_for('static', filename='graphs/streaming_service_bar.png') }}"
                         alt="Bar of Streaming TV" class="graph">
                </div>
            </div>
        </div>

        <div>
            <p>Average monthly charges by churn and streaming TV service</p>
            <div class="container">
                <div>
                    {% for key, value in by_streaming_tv.items() %}
                        <p>{{ key }} : {{ value }}</p>
                    {% endfor %}
                </div>

                <div class="graph-frame">
                    <div>
                        <img src="{{ url_for('static', filename='graphs/streaming_heatmap.png') }}"
                             alt="Heatmap of Streaming TV" class="graph">
                    </div>
                </div>
            </div>
        </div>

        <div>
            <p>Average total charges by churn and streaming TV service</p>
            <div class="container">
                <div>
                    {% for key, value in by_streaming_tv_total.items() %}
                        <p>{{ key }} : {{ value }}</p>
                    {% endfor %}
                </div>

                <div class="graph-frame">
                    <div>
                        <img src="{{ url_for('static', filename='graphs/streaming_total_heatmap.png') }}"
                             alt="Heatmap of Streaming TV Total" class="graph">
                    </div>
                </div>
            </div>
        </div>

        {% include 'conclusions_form.html' %}
        <br>
        <br>

    </div>
{% endblock %}