{% extends 'base.html' %}
{% block content %}

    <div class="frame">
        <h1>Sociodemographics</h1>

        <h2>Age Group</h2>
        <p>Is the customer above the age of 65</p>

        <div class="container">
            <div>
                {% for key, value in age_group_stat.items() %}

                    <p>{{ key }} : {{ value }}</p>

                {% endfor %}
            </div>
            <div class="graph-frame">
                <div>
                    <img src="{{ url_for('static', filename='graphs/age_group_bar.png') }}"
                         alt="Bar of Age Group" class="graph">
                </div>
            </div>
        </div>
        <div>
            <p>Average monthly charges by churn and age group</p>
            <div>
                {% for key, value in by_age_group.items() %}

                    <p>{{ key }} : {{ value }}</p>

                {% endfor %}
            </div>
        </div>
        <br>
        <h2>Partnership</h2>
        <p>Whether the client has or does not have a partner</p>

        <div class="container">
            <div>
                {% for key, value in partner_stat.items() %}

                    <p>{{ key }} : {{ value }}</p>

                {% endfor %}
            </div>
            <div class="graph-frame">
                <div>
                    <img src="{{ url_for('static', filename='graphs/partner_bar.png') }}"
                         alt="Bar of Partnership" class="graph">
                </div>
            </div>
        </div>
        <div>
            <p>Average monthly charges by churn and partnership</p>
            <div>
                {% for key, value in by_partner.items() %}

                    <p>{{ key }} : {{ value }}</p>

                {% endfor %}
            </div>
        </div>
        <br>
        <h2>Dependents</h2>
        <p>Whether the client has or does not have dependents</p>

        <div class="container">
            <div>
                {% for key, value in dependents_stat.items() %}

                    <p>{{ key }} : {{ value }}</p>

                {% endfor %}
            </div>
            <div class="graph-frame">
                <div>
                    <img src="{{ url_for('static', filename='graphs/dependents_bar.png') }}"
                         alt="Bar of Dependents" class="graph">
                </div>
            </div>

        </div>
        <div>
            <p>Average monthly charges by churn and dependents</p>
            <div>
                {% for key, value in by_dependents.items() %}

                    <p>{{ key }} : {{ value }}</p>

                {% endfor %}
            </div>
        </div>

    </div>

{% endblock %}