{% extends 'base.html' %}
{% block content %}

    <div class="frame">
        <h1>Sociodemographics</h1>

        <h2>Age Group</h2>
        <p>Is the customer above or below the age of 65</p>

        <div class="container">
            <div>
                {% for key, value in age_group_stat.items() %}
                    <p>{{ key }} : {{ value }}</p>
                {% endfor %}
            </div>
            <div class="graph-frame">
                <div>
                    <img src="{{ url_for('static', filename='graphs/age_group_bar.png') }}"
                         alt="Bar of Age Group" class="graph">
                </div>
            </div>
        </div>

        <div>
            <p>Average monthly charges by churn and age group</p>
            <div class="container">
                <div>
                    {% for key, value in by_age_group.items() %}
                        <p>{{ key }} : {{ value }}</p>
                    {% endfor %}
                </div>
                <div class="graph-frame">
                    <div>
                        <img src="{{ url_for('static', filename='graphs/churn_by_age_group_monthly_mean_bar.png') }}"
                             alt="Bar of Age Group" class="graph">
                    </div>
                </div>
            </div>
        </div>

        <div>
            <p>Average total charges by churn and age group</p>
            <div class="container">
                <div>
                    {% for key, value in by_age_group_total.items() %}
                        <p>{{ key }} : {{ value }}</p>
                    {% endfor %}
                </div>
                <div class="graph-frame">
                    <div>
                        <img src="{{ url_for('static', filename='graphs/churn_by_age_group_total_mean_bar.png') }}"
                             alt="Bar of Age Group Total" class="graph">
                    </div>
                </div>
            </div>
        </div>
        <br>

        {% include 'conclusions_form.html' %}
        <br>
        <br>

        <h2>Partnership</h2>
        <p>Whether the client has or does not have a partner</p>

        <div class="container">
            <div>
                {% for key, value in partner_stat.items() %}
                    <p>{{ key }} : {{ value }}</p>
                {% endfor %}
            </div>
            <div class="graph-frame">
                <div>
                    <img src="{{ url_for('static', filename='graphs/partner_bar.png') }}"
                         alt="Bar of Partnership" class="graph">
                </div>
            </div>
        </div>

        <div>
            <p>Average monthly charges by churn and partnership</p>
            <div class="container">
                <div>
                    {% for key, value in by_partner.items() %}
                        <p>{{ key }} : {{ value }}</p>
                    {% endfor %}
                </div>
                <div class="graph-frame">
                    <div>
                        <img src="{{ url_for('static', filename='graphs/churn_by_partner_monthly_mean_bar.png') }}"
                             alt="Bar of Partnership" class="graph">
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div>
            <p>Average total charges by churn and partnership</p>
            <div class="container">
                <div>
                    {% for key, value in by_partner_total.items() %}
                        <p>{{ key }} : {{ value }}</p>
                    {% endfor %}
                </div>
                <div class="graph-frame">
                    <div>
                        <img src="{{ url_for('static', filename='graphs/churn_by_partner_total_mean_bar.png') }}"
                             alt="Bar of Partnership Total" class="graph">
                    </div>
                </div>
            </div>
        </div>
        <br>

        {% include 'conclusions_form.html' %}
        <br>
        <br>

        <h2>Dependents</h2>
        <p>Whether the client has or does not have dependents</p>

        <div class="container">
            <div>
                {% for key, value in dependents_stat.items() %}
                    <p>{{ key }} : {{ value }}</p>
                {% endfor %}
            </div>
            <div class="graph-frame">
                <div>
                    <img src="{{ url_for('static', filename='graphs/dependents_bar.png') }}"
                         alt="Bar of Dependents" class="graph">
                </div>
            </div>

        </div>
        <div>
            <p>Average monthly charges by churn and dependents</p>
            <div class="container">
                <div>
                    {% for key, value in by_dependents.items() %}
                        <p>{{ key }} : {{ value }}</p>
                    {% endfor %}
                </div>
                <div class="graph-frame">
                    <div>
                        <img src="{{ url_for('static', filename='graphs/churn_by_dependents_monthly_mean_bar.png') }}"
                             alt="Bar of Dependents" class="graph">
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div>
            <p>Average total charges by churn and dependents</p>
            <div class="container">
                <div>
                    {% for key, value in by_dependents_total.items() %}
                        <p>{{ key }} : {{ value }}</p>
                    {% endfor %}
                </div>
                <div class="graph-frame">
                    <div>
                        <img src="{{ url_for('static', filename='graphs/churn_by_dependents_total_mean_bar.png') }}"
                             alt="Bar of Dependents Total" class="graph">
                    </div>
                </div>
            </div>
        </div>

        <br>
        <h2>Averages by Sociodemographics</h2>
        <div class="graph-frame">
            <div>
                <img src="{{ url_for('static', filename='graphs/tenure_by_sociodem_line.png') }}"
                     alt="Average Tenure by Sociodem" class="graph">
            </div>
        </div>
        <br>
        <div class="graph-frame">
            <div>
                <img src="{{ url_for('static', filename='graphs/monthly_charges_by_sociodem_line.png') }}"
                     alt="Average Monthly Charges by Sociodem" class="graph">
            </div>
        </div>
        <br>
        <div class="graph-frame">
            <div>
                <img src="{{ url_for('static', filename='graphs/total_charges_by_sociodem_line.png') }}"
                     alt="Average Total Charges by Sociodem" class="graph">
            </div>
        </div>

        {% include 'conclusions_form.html' %}
        <br>
        <br>

    </div>

{% endblock %}