{% extends 'base.html' %}
{% block content %}

    <div class="frame">

        <h1>Tests</h1>

        <h3>One-tailed test of a hypothesis:</h3>
        <h3>The mean of total charges is greater for Yes (having the service, belonging to the group)</h3>

        <form action="/tests" method="POST">
            <label for="variable">Select a category for testing: </label>

            <select name="variable" id="variable">
                <option></option>
                <option value="Senior_Citizen">Age Group</option>
                <option value="Partner">Partner</option>
                <option value="Dependents">Dependents</option>
                <option value="Phone_Service">Phone Service</option>
                <option value="Internet_Service">Internet Service</option>
                <option value="Streaming_TV">Streaming TV</option>
            </select>
            <br>
            <br>
            <button type="submit" name="submit">Submit</button>
        </form>

        <br>

        {% if variable %}

            <h2>{{ variable }}</h2>
            <p>H0: Total charges mean of {{ variable }}-Yes is equal to {{ variable }}-No</p>
            <p>H1: Total charges mean of {{ variable }}-Yes is greater compared to {{ variable }}-No</p>
            <br>
            <p>Total charges mean {{ variable }}-Yes: {{ yes_total_charges_mean }}</p>
            <p>Total charges mean {{ variable }}-No: {{ no_total_charges_mean }}</p>
            <p>t-stat: {{ t_stat }}</p>
            <p>p-value: {{ p_value }}</p>
            <br>

            {% include 'conclusions_form.html' %}
            <br>
            <br>

        {% endif %}

    </div>

{% endblock %}